<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- Spring Container안에서  WEB-INF폴더 하위에 보안된 페이지에 로그인할때 접속하기위한 접두어,접미어를 생성하는 화면단해결사-->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/view/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	<!-- [비권장] BeanName으로 응답페이지 보기 -->
	<bean id="default-handler-mapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
	<!-- id는 인스턴스변수 정도로 생각 -->
	<bean class="com.data_structure.ListController"  name="/data_structure/listBean.sp">
		<property name="listBean"><!-- setter객체 주입법 적용예정 -->
			<list><!-- java의 List를 지원하는 xml태그 -->
				<value>Hi...</value>
				<value>Have a good time!!</value>
				<value>Hava a nice day!!</value>
			</list>
		</property>
	</bean>
</beans>